* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #557A46;
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    position: fixed;
    transition: width 600ms ease 0s;
    z-index: 999;
    height: 100%;
    width: 5rem;
    display: flex;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.nav-item {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-link i {
    font-size: 2rem;
    margin: 0 1.5rem;
    color: #48683C;
}

.nav-link {
    display: flex;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.link-text {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 600ms;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

.logo-text {
    animation: slideRight 1s ease;
}

.nav-item:hover {
    background-color: #0a0a0a;
    transition: all 500ms ease;
}

.nav-item:hover .nav-link {
    filter: grayscale(0%) opacity(1);
    transition: all 500ms ease;
}

.logo-link i {
    transform: rotate(0deg);
    transition: 600ms;
}

.navbar:hover .logo-link i {
    transform: rotate(-180deg);
}

#darkToggle {
    display: none;
}

#lightToggle {
    display: block;
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(45deg);
    }

    20% {
        transform: rotate(-45deg);
    }
    
    30% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.fa-bell {
    animation: shake 4s infinite linear;
}

@keyframes slideRight {
    0% {
        transform: translateX(-75%)
    }

    100% {
        transform: translateX(0%)
    }
}

@keyframes slideRightText {
    0% {
        transform: translateX(-20%)
    }

    100% {
        transform: translateX(0%)
    }
}

/*Larger Screens*/
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar-nav {
        flex-direction: column;
        height: 100%;
    }
    
    .navbar:hover .link-text {
        display: block;
        animation: slideRightText 600ms ease;
    }

    #settingButton{
        margin-top: auto;
    }   

    .navbar {
        height: 100vh;
        width: 5rem;
    }
}

/*Smaller Screens*/
@media only screen and (max-width: 600px) {

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #settingButton{
        margin-left: auto;
    }  

    .navbar {
        height: 5rem;
        width: 100vw;
        bottom: 0;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}
  
::-webkit-scrollbar-track {
    background: #48683C; 
}
   
::-webkit-scrollbar-thumb {
    background: #557A46; 
}

main {
    width: calc(100% - 5rem);
    height: 100%;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.grid-item {
    background-color: #48683C;
    padding: 2rem;
    border-radius: 10px;
}

.box-large {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.box-medium {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding: 0;
}

.box-medium-2:last-child {
    grid-column: 3 / 4; 
    grid-row: 3 / 5;
    padding: 0;
}

.header-box-large {
    display: flex;
    width: 100%;
    background-color: #3E5B34;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    row-gap: 10px;
    border-radius: 10px;
}

.header-flex {
    flex: 1;
}

.buttonContainer {
    display: flex;
}

.buttonContainerBtn {
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: black;
    border: none;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 1s ease;
    margin-top: 20px;
}

.buttonContainerBtn:hover {
    background-color: #0a0a0a;
}

.buttonContainerBtn i {
    margin-left: 3px;
}

.card-container {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2%;
    place-items: center;
    margin-left: 0;
}

.card {
    height: 100%;
    width: 80%;
    border: 2px black solid;
    background-color: #48683C;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.background-image-faded {
    position: absolute;
    font-size: 150px;
    rotate: 45deg;
    z-index: 0;
    opacity: 0.1;
}

.card-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.card-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.specialText {
    cursor: pointer;
    position: relative;
}

.underlineFancy {
    position: absolute;
    width: 0%;
    height: 1px;
    left: 0;
    background-color: white;
    bottom: -2px;
    transition: width 1s ease;
    z-index: 1;
}

.specialText:hover .underlineFancy {
    width: 100%;
}

.buyers-notification-box {
    width: 100%;
    height: 100%;
    background-color: #3E5B34;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buyers-notification-box > button {
    width: 50%;
    border-radius: 50px;
}

.buyers-notification-box > i {
    font-size: 50px;
    margin: 2%;
}

.rejectBtn {
    background-color: #CC0000;
    padding: 0.25rem;
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;
}

.confirmBtn {
    background-color: #3E5B34;
    padding: 0.25rem;
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;
}

.notifications-container {
    display: none;
    opacity: 0;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #354E2D;
    width: fit-content;
    white-space: nowrap;
    text-align: left;
    max-height: 300%;
    overflow-y: scroll;
    border: 3px black solid;
    transition: opacity 500ms ease;
}

.notifications-container p {
    margin: 0;
}

.notification-header {
    font-weight: bold;
}

.notification-item {
    padding: 1rem;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    cursor: default;
}

.button-flex {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-header {
    width: 100%;
    background-color: #3E5B34;
    flex: 1.5;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.table-header > h2 {
    margin: 0;
}

.table-content {
    flex: 8;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.table-item {
    display: flex;
    padding: 1rem;
    border-bottom: 1px black solid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table-item p {
    margin: 0;
}

.table-item-img {
    padding: 1rem;
    font-size: 2rem;
}

.table-item-text-header {
    font-size: 18px;
}

.overlayNone {
    position: absolute;
    display: none;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    text-align: center;
}

.fa-magnifying-glass-plus {
    opacity: 0.5;
    font-size: 40px;
    margin-bottom: 5px;
}

.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #48683C;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(365deg);
    }
}
  
@keyframes loading-slide-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
}  

.loading-slide-out {
    animation: loading-slide-out 500ms linear forwards;
    width: 0;
    transition: width 0.1ms;
    transition-delay: 500ms;
}

.loadingSymbol {
    border: #3E5B34 10px solid;
    border-top: #354E2D 10px solid;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: relative;
}

.not-found-div-table {
    cursor: pointer;
}

.not-found-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.not-found-div {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.not-found-div i {
    font-size: 50px;
    opacity: 0.5;
}

@media only screen and (max-width: 1500px) {
    .grid-container {
        height: 300%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .box-large {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .box-medium {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    .box-medium-2:last-child {
        grid-column: 1;
        grid-row: 3/4;
        margin-bottom: 5rem;
    }
}